{% extends "base.html.twig" %}

{% block title %}{{ "homePage"|trans }}{% endblock %}

{% block customMeta %}
    <meta name="description" content="{{ hostingName }} - {{ "homePage"|trans }}">
{% endblock %}

{% block customCss %}
    <style>

    </style>
{% endblock %}


{% block customScript %}
    <script>
        const pageVue = new Vue({
            delimiters: ['${', '}'],
            el: '#page',
            data: {},
            methods: {},
            computed: {},
            watch: {},
            created() {
                let _this = this;
                $(document).ready(function () {

                })
            }
        })
    </script>
{% endblock %}

{% block body %}
    <h1>{{ "homePage"|trans }}</h1>
{% endblock %}
